<p class="person_medical_note_fields">
	<fieldset>
		<div class="field">
			<%= f.label "Notes" %>
				<%= f.text_area :notes, "rows"=>4, "cols"=>100 %>
			<%= f.hidden_field :_destroy %>
			<!-- % if current_user.role? :admin % -->
			<%= link_to "Remove Note", '#', class: "remove_fields" %>
			<!-- % end % -->
		</div>
	</fieldset>
</p>