<form method="post" action="<%= FD_URL %>" name="os_form" id="os_form">
	<%
	require 'date'
	require 'digest/sha2'
	def create_hash
		#rails has the config for server timezone, so pick your poison:
		#server timezone:
		# time_zone = Time.zone.now.zone
		#local timezone:
		time_zone = Time.now.zone
		#hardcode it:
		# time_zone = "EST"
		#all four string params below are also required in the transmission submit
		data = @pieces
		message_digest = Digest::SHA256.new
		sb = []
		bytes = data.bytes.to_a
		bytes.each do |bit|
		    sb << ((bit&240)>>4).to_s(16)
		    sb << (bit&15).to_s(16)
		end	
		sb.each {|sbi| message_digest << sbi.to_s}	
		message_digest.hexdigest
	end	
	def invoice_items
		items = []
		@invoice_items.each {|itm| items << "#{itm.reservation.person.fullname}:#{itm.reservation.event.eventname}"}
		glob = items.join(";")
		glob
	end
	%>
	<%
	@tdt = "#{DateTime.now.strftime('%Y:%m:%d-%H:%M:%S')}"
	@tdround = "#{(sprintf('%.2f', @total_due))}"
	@pieces = "#{FD_STORENAME}#{@tdt}#{@tdround}#{FD_SHAREDSECRET}"
	@hash = create_hash
	@invoice_items = @invoice.reservation_carts
	 %>
	<% @fd_params = {"storename"=> "#{FD_STORENAME}",
	"mode"=>"payonly",
	"txntype"=>"sale",
	"timezone"=>"EST",
	"txndatetime" => "#{@tdt}",
	"hash" => "#{@hash}", 
	"chargetotal"=> "#{@tdround}",
	"subtotal"=> "#{@tdround}",
	"responseURL"=> "http://inagehi.harkerscorner.net/payment_notifications/", # "#{url_for(:controller => :payment_notifications, :only_path => false)}",
	"oid"=>"#{@invoice.reference_code}",
	"trxOrigin" => "ECI",
	"email"=>"#{current_user.email}",
	# "userid" => "#{current_user.email}",
	"userid" => "#{@invoice.reference_code}",
	"shared_secret" => "#{FD_SHAREDSECRET}",
	"reference" => "Camp Registration",
	"comments" => invoice_items,
	"responseSuccessURL" => "http://inagehi.harkerscorner.net/payment_notifications",  # "#{root_url}",
	"responseFailURL" => "http://inagehi.harkerscorner.net/payment_notifications"
	} # "#{root_url}",
	%>
	<% @fd_params.each do |fld, val| %>
		<%= hidden_field_tag  "#{fld}", "#{val}" %>
	<% end %>
	<div class="action">
		<% if (@invoice.status=='new') %>
		 <% link_to "Confirm", {:controller=>"invoices", :id=>@invoice.id, :action=>"submit_transaction_to_firstdata"}, :method=>"post" %>
		<%= submit_tag "Confirm Reservation Payment" %>
		<% end %>
	</div>	
</form>