<div>
	<% if (@reservation.reservation_cart.nil?) and (@reservation.locked != true) %>
	 <%= link_to "Add to cart", {:controller=>"reservations", :id=>@reservation.id, :action=>"add_to_cart"}, :method=>"post" %> 
	<% end %>
</div>