// Place all the styles related to the people controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//simplecontactouter
$outercolor: #ccc; //#6A7F95; //#687D93;
$outerborder: double $outercolor 3px;

.simplecontactouter {
	border: $outerborder;
	background: #f8f8f8;
}

.makeperson {
	width:200px;
	margin: 50px;
}