<div id="nav_shell">
	<fieldset><legend>The current menu</legend>
		<ul>	
		<% if (can? :read, Person) or (can? :create, Person) or (can? :update, Person) %>
			<li><%= link_to "View Registrants", people_path %></li>
		<% end %>

		<% if (can? :read, Reservation) or (can? :create, Reservation) or (can? :update, Reservation) %>		
			<li><%= link_to "View Event Reservations", reservations_path %></li>
		<% end %>

		<% if (can? :read, Event) or (can? :create, Event) or (can? :update, Event) %>		
			<li><%= link_to "View Events", events_path %></li>
		<% end %>

		<% if (can? :read, Resource) or (can? :create, Resource) or (can? :update, Resource) %>		
			<li><%= link_to "View Resources", resources_path %></li>
		<% end %>
		</ul>
	</fieldset>
</div>